<h1>
  Your Articles
  <%= link_to 'New Article', new_user_article_path, :class => "btn btn-success"%>
</h1>

<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th width="150px">Actions</th>
  </tr>
  <% unless @articles.count == 0 %>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td>
          <%= link_to 'Show', user_article_path(current_user.id, article)%>
          <%= link_to 'Edit', edit_user_article_path(current_user.id, article)%>
          <%= link_to 'Destroy', user_article_path(current_user.id, article), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3" class="bold text-center">
        <h3>There are no articles!</h3>
      </td>
    </tr>
  <% end %>



</table>